### START SERVICE BOT MANAGED FOOTER ###
try-import ".bazelrc.release-version"
### END SERVICE BOT MANAGED FOOTER ###
### START SERVICE BOT MANAGED SECTION ###
### END SERVICE BOT MANAGED SECTION ###
