name: kafka-bazel
automerge_delay: 1
lang: java
lang_version: "21"
git:
  enable: true
github:
  enable: true
make:
  enable: false
semaphore:
  enable: true
  pipeline_enable: false
  triggers:
    - branches
    - pull_requests
  branches:
    - master
  status_level: block
  tasks:
    - name: Scheduled Run
      branch: master
      pipeline_file: .semaphore/semaphore.yml
    - name: Apache Kafka Updater
      branch: master
      pipeline_file: .semaphore/ak-updater.yml
    - name: Build Files Updater
      branch: master
      pipeline_file: .semaphore/build-files-updater.yml
sonarqube:
  enable: false
bazel:
  enable: true
code_artifact:
  enable: false
